{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Load boostrap app-->
 
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    
    {% block extra_css %} {% endblock %}

    <title>Consultorio T.O.</title>
  </head>

  <body>
    <body>
      <header class="topheader">  
        <!--Logo y titulo-->  
              <a href='#' class="logo">
                  <img id="Logo" height="80" width="80" src="{% static 'images/base/logo.png' %}" alt="logo">
              </a>  
              <div class="nombre_app"> <a> Consultorio T.O. </a>  </div>
              <div class="bloque_titulo"><a>{% block page_title %} {% endblock %}</a> </div>
      </header>
      <main class="ppal" >
        <section>
            <nav class="sidebar">
                <ul class="menu_vertical">
                    <a href="{% url 'lista_paciente' %}" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/paciente.png' %}" alt="Pacientes">
                        <div class="item_menu">Pacientes</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/consultorio.png' %}" alt="Consultorios">
                        <div class="item_menu">Consultorios</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/diagnostico.png' %}" alt="Diagnosticos">
                        <div class="item_menu">Diagnosticos</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/contrato.png' %}" alt="Contratos">
                        <div class="item_menu">Contratos</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/costos.png' %}" alt="Costos sesiones">
                        <div class="item_menu">Costos sesiones</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/presupuesto.png' %}" alt="Presupuestos">
                        <div class="item_menu">Presupuestos</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/obra_social.png' %}" alt="Obras sociales">
                        <div class="item_menu">Obras sociales</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/turno.png' %}" alt="Turnos">
                        <div class="item_menu">Turnos</div>
                    </a>
                    <a href="#" class="boton_menu">
                        <img height="45" width="45" src="{% static 'images/base/comunicacion.png' %}" alt="Comunicaciones">
                        <div class="item_menu">Comunicaciones</div>
                    </a>
                    <a href="{% url 'logout' %}" class="boton_menu">
                      <img height="45" width="45" src="{% static 'images/base/logout.png' %}" alt="Comunicaciones">
                      <div class="item_menu">Salir</div>
                    </a> 
                      {% block menus %}{% endblock %}
                  
                    
                </ul>
            </nav>
        </section>
        <div class="detalles">
          {% block contenido %} {% endblock %}
        </div>
    </main>

    <script>
      {% block scripts %} {% endblock %}
    </script>
    
  </body>
  <footer>
    <div class="footer text-center">
      <p>Copyright M.I. Software dev. All rights reserved</p>
    </div>
  </footer>
</html>