<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <script defer src="base.js"></script>
    <title>Consultorio T.O.</title>
</head>
<body>
    <header class="topheader">    
        <nav class="topnav">
            <a href='#' class="logo">
                <img height="80" width="80" src="logo.png" alt="logo">
                <div>
                    Consultorio T.O.
                </div>
            </a>  
           
        </nav>
    </header>
    <section>
        <nav class="sidebar">
            <ul class="menu_vertical">
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="paciente.png" alt="Pacientes">
                    <div class="item_menu">Pacientes</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="consultorio.png" alt="Consultorios">
                    <div class="item_menu">Consultorios</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="diagnostico.png" alt="Diagnosticos">
                    <div class="item_menu">Diagnosticos</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="contrato.png" alt="Contratos">
                    <div class="item_menu">Contratos</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="costos.png" alt="Costos sesiones">
                    <div class="item_menu">Costos sesiones</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="presupuesto.png" alt="Presupuestos">
                    <div class="item_menu">Presupuestos</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="obra_social.png" alt="Obras sociales">
                    <div class="item_menu">Obras sociales</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="turno.png" alt="Turnos">
                    <div class="item_menu">Turnos</div>
                </a>
                <a href="#" class="boton_menu">
                    <img height="45" width="45" src="comunicacion.png" alt="Comunicaciones">
                    <div class="item_menu">Comunicaciones</div>
                </a>
            </ul>

        </nav>
    </section>
</body>

</html>