<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <title>Consultorio T.O.</title>
</head>
<body>
    <header class="topheader">    
        <nav class="topnav">
            <a href='#' class="logo">
                <img height="80" width="80" src="logo.png" alt="logo">
                <div>
                    Consultorio T.O.
                </div>
            </a>  
            <button class="open-menu" aria-label="Arbir menu">
                <img src="boton_hamb.png" alt="Abrir menu">
            </button> 
            <ul class="menu ">
                <button class="close-menu" aria-label="Cerrar menu">
                    <img src="boton_cierre.png" alt="Cerrar menu">
                </button> 
            <li><a href="#Homme"></a>a</li>
            <li><a href="#Consultorio">b</a></li>
            <li><a href="#Contrato"></a>c</li>
            <li><a href="#Paciente"></a>d</li>
            </ul>
        </nav>
    </header>
</body>
</html>