body {
  padding-top: 4.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 48px 16px;
  background-color: #f8f9fa;
}

@media (min-width: 992px) {
  .sidebar {
    width: 250px;
  }
}

.navbar .navbar-toggler {
  border-color: transparent;
}

.navbar-brand {
  margin-right: 2rem;
}

@media (max-width: 991.98px) {
  .navbar .navbar-collapse {
    position: fixed;
    top: 56px;
    left: 100%;
    z-index: 200;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
  }

  .navbar .navbar-collapse.show {
    left: 0;
  }

  .navbar .navbar-collapse.hide {
    left: 100%;
  }
}