{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
    {% comment %} <link rel="stylesheet" href="{% static '/css/detalles.css' %}"> {% endcomment %}
{% endblock %}

{% block page_title %} Detalle Pacientes {% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
{% endblock %}
  <!--Caja-->
  {% block contenido %} 
    
     <h1>{{ paciente.surname }}</h1> 
      {{ paciente.name }}
      {{ paciente.p_address }}
      <div class="message">
        {% for paciente in pacientes %}
        <h3>{{ paciente.surname }} {{paciente.name}} </h3>
        {% endfor %}
      </div>

  {% endblock %}