{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/detalles.css' %}"> 
{% endblock %}

{% block page_title %} Pacientes {% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
{% endblock %}
  <!--Caja-->
  {% block contenido %} 
    
      <form method="GET"> {% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="Ingrese el apellido">
        <button type="submit">Buscar</button>
      </form>
      <div class="message">
        {% for paciente in pacientes %}
        <a href="{{ paciente.get_absolute_url }}">{{ paciente.surname  }}</a> ({{paciente.name}})
       
        {% endfor %}
      </div>

  {% endblock %}