{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
    {% comment %} <link rel="stylesheet" href="{% static '/css/index.css' %}"> {% endcomment %}
{% endblock %}

{% block page_title %} Nuevo paciente {% endblock %}

{% block menus %}
<!-- Menu items for landing page -->
{% endblock %}
  <!--Caja-->
  {% block contenido %} 
  <main class=main>

    <div class="message">
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
        <a href="{% url 'lista_paciente' %}" title="Cancelar" type="button" class="btn btn-sm btn-light">Cancelar </a>
      </form>
      
    </div>
  </main>
  {% endblock %}